@import '@styles/mixin.module';
@import '@styles/variable.module';

.container {
    padding: 30px 20px 0 20px;
    @include flex_box_custom(space-between, space-between, 25px);
    flex-direction: column;
    height: 90vh;
    
    .boxButton {
        display: flex;
        justify-content: center;
        margin-bottom: -20px;

        button {
            cursor: pointer;
            width: 300px;
        }
    }
}
